<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            perform_query();
        });

        function perform_query() {
            let api_key = '17472b83-601e-4efc-9fb4-73a90f96a701';
            let word = 'banana';
            let root_url = 'https://www.dictionaryapi.com/api/v3/references/collegiate/json'
            let final_url = `${root_url}/${word}?key=${api_key}`;
            $.ajax({
                type: 'GET',
                url: final_url,
                data: {},
                success: function (response) {
                    console.log(response);
                    let definitions = response[0].shortdef;
                    let temp_html = '';
                    for (let i = 0; i < definitions.length; i++) {
                        let def = definitions[i];
                        temp_html += `<li>${def}</li>`;
                    }
                    $('#definitions').append(temp_html);
                }
            });
        }
    </script>
</head>

<body>
    <ul id="definitions"></ul>
</body>

</html>